*{
    margin: 0;
    padding: 0;
}

:root{
       font-family: "Open Sans", serif;
       color: #333333;
  }


body{
    background-color: #F5F4F0;
    background-size: cover;
}

img{
    border-radius: 28px;
}